.form-container{
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid darkmagenta;
  border-radius: 5px ;
  display: flex;
  justify-content:center
}
.form-title{
    font-size: 35px;
    font-weight: 400;
    color: cadetblue;
}
.input-group{
    margin-bottom: 20px;
}
.input-group label{
    display: block;
    margin-bottom: 5px;
}
.input-group input{
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 24px;
}
.from-submit{
    width: 415px;
    height: 55px;
    background-color: darkkhaki;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.form-link{
    text-decoration: none;
    color: #95A0A7;
}
.btn{
    width: 415px;
    height: 55px;
    background-color: darkkhaki;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-bottom: 7px;
}